*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.loader {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.loader.is-active {
    display: block;
}

.start-btn {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.start-btn.is-active {
    display: block;
}
